<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.anthonykeane.speedsignfinder"
          android:versionCode="142"
          android:versionName="0.1.127">
                                    <!--.$Rev: 127 $-->

    <uses-permission android:name="android.permission.ACCESS_GPS"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <!--<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>-->
    <!--<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>-->
    <uses-permission android:name="android.permission.CAMERA"/>

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true"/>
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false"/>

    <!--<supports-screens-->
    <!--android:resizeable="true"-->
    <!--android:smallScreens="true"-->
    <!--android:normalScreens="true"-->
    <!--android:largeScreens="true"-->
    <!--android:anyDensity="true"/>-->
    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="17"/>

    <application
        android:label="@string/app_name"
        android:icon="@drawable/ic_launcher"
        android:hardwareAccelerated="true"
        android:uiOptions="splitActionBarWhenNarrow"
        >
        <!--android:theme="@android:style/Theme.NoTitleBar.Fullscreen"-->


        <activity
            android:name="com.anthonykeane.speedsignfinder.speedsignfinderActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape"
            android:configChanges="keyboardHidden|orientation">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.APP_ERROR"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>

        </activity>

        <!--<activity-->
        <!--android:name="com.anthonykeane.speedsignfinder.NotificationReceiverActivity"-->
        <!--android:label="@string/app_name"-->
        <!--android:configChanges="keyboardHidden|orientation">-->
        <!--<intent-filter>-->
        <!--<action android:name="android.intent.action.MAIN"/>-->
        <!--<category android:name="android.intent.category.LAUNCHER"/>-->
        <!--</intent-filter>-->
        <!--</activity>-->

        <activity
            android:name=".NotificationReceiverActivity"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity"/>
        </activity>
        <activity android:name=".PreferencesActivitySingle"/>
        <activity android:name=".PreferencesActivity"></activity>


    </application>
</manifest>

